<%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header class="main-header">
        <%- include('../includes/nav')%>
    </header>
    <main>
        <% if (products.length > 0) { %>
            <% products.forEach(p => {%>
                <li>
                    <p><%= p.productData.title %> (<%= p.qty %>)</p>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" value="<%= p.productData.id%>" name="productId">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        <% } else { %>
            <h1>No products in cart</h1>
        <% } %>
    </main>
</body>

</html>