<%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header class="main-header">
        <%- include('../includes/nav')%>
    </header>
    <main class="centered">
        <h1><%= product.title%></h1>
        <hr>
        <div>
            <img src="<%= product.imageUrl %>" alt="">
        </div>
        <h1><%= product.price %></h1>
        <p><%= product.description %></p>
        <%- include("../includes/add-to-cart")%>
    </main>
</body>

</html>